# Практична робота №7. PostgreSQL

* Встановити PostgreSQL
* Знайти цікаві плагіни для інформаційного пошуку. Описати їх в звіті
* Встановити плагін (один з плагінів), що був знайдений, написати застосування, що показує його використання
* Встановити плагіни з лекції. Написати застосування, що використовує PostgreSQL як ядро пошукової системи

## Підключаємося до PostgreSQL

In [44]:
%load_ext sql
%sql postgresql://postgres:postgres@localhost:5432/postgres

## Встановлюємо необхідні плагіни

In [45]:
%sql CREATE EXTENSION IF NOT EXISTS tablefunc;
%sql CREATE EXTENSION IF NOT EXISTS dict_xsyn;
%sql CREATE EXTENSION IF NOT EXISTS fuzzystrmatch;
%sql CREATE EXTENSION IF NOT EXISTS pg_trgm;
%sql CREATE EXTENSION IF NOT EXISTS cube;

 * postgresql://postgres:***@localhost:5432/postgres
Done.
 * postgresql://postgres:***@localhost:5432/postgres
Done.
 * postgresql://postgres:***@localhost:5432/postgres
Done.
 * postgresql://postgres:***@localhost:5432/postgres
Done.
 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

## Створюємо та заповнюємо таблиці

In [62]:
%%sql
CREATE TABLE IF NOT EXISTS authors (id SERIAL PRIMARY KEY, name VARCHAR(100) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS books (
    id SERIAL PRIMARY KEY, 
    title VARCHAR(200) NOT NULL, 
    author_id INTEGER NOT NULL, 
    description TEXT,
    genre cube,
    FOREIGN KEY (author_id) 
    REFERENCES authors (id)
);

INSERT INTO authors (name) VALUES
  ('J.R.R. Tolkien'),
  ('George Orwell'),
  ('Jane Austen'),
  ('Erich Maria Remarque'),
  ('Ayn Rand'),
  ('Harper Lee'),
  ('Mark Twain'),
  ('Gabriel Garcia Marquez'),
  ('Ernest Hemingway'),
  ('Emily Bronte');

INSERT INTO books (title, author_id, description, genre) VALUES
  (
      'The Lord of the Rings', 
      1, 
      'The Lord of the Rings is an epic high fantasy novel by J.R.R. Tolkien. It follows the journey of a hobbit named Frodo Baggins as he attempts to destroy the One Ring and save Middle-earth.', 
      '(0.5, 0.7, 0.6, 0.2, 0.4)'
  ),
  (
      '1984', 
      2, 
      '1984 is a dystopian novel by George Orwell. It portrays a totalitarian society where individualism is suppressed and government surveillance is pervasive.', 
      '(0.8, 0.2, 0.3, 0.4, 0.5)'
  ),
  (
      'Pride and Prejudice',  
      3, 
      'Pride and Prejudice is a classic romance novel by Jane Austen. It explores the themes of love, marriage, and social status through the experiences of the Bennet sisters.', 
      '(0.3, 0.4, 0.6, 0.7, 0.2)'
  ),
  (
      'All Quiet on the Western Front',  
      4, 
      'All Quiet on the Western Front is a war novel by Erich Maria Remarque. It provides a brutally honest account of the experiences of German soldiers during World War I.', 
      '(0.6, 0.5, 0.7, 0.3, 0.4)'
  ),
  (
      'Atlas Shrugged', 
      5, 
      'Atlas Shrugged is a philosophical novel by Ayn Rand. It presents Rand''s objectivist philosophy through the story of individuals who go on strike against a society that stifles their productivity and success.', 
      '(0.7, 0.1, 0.4, 0.6, 0.3)'
  ),
  (
      'To Kill a Mockingbird', 
      6, 
      'To Kill a Mockingbird is a coming-of-age story by Harper Lee. It addresses issues of racial injustice and explores themes of morality, compassion, and the loss of innocence.', 
      '(0.6, 0.2, 0.4, 0.5, 0.7)'
  ),
  (
      'The Adventures of Tom Sawyer',
      7, 
      'The Adventures of Tom Sawyer is a children''s adventure novel by Mark Twain. It follows the mischievous Tom Sawyer as he embarks on various escapades and learns valuable life lessons.', 
      '(0.4, 0.6, 0.5, 0.3, 0.2)'
  ),
  (
      'One Hundred Years of Solitude', 
      8, 
      'One Hundred Years of Solitude is a magical realism novel by Gabriel Garcia Marquez. It tells the multi-generational story of the Buendía family in the fictional town of Macondo.', 
      '(0.7, 0.3, 0.5, 0.6, 0.4)'
  ),
  (
      'The Old Man and the Sea',  
      9, 
      'The Old Man and the Sea is a novella by Ernest Hemingway. It depicts the struggle of an aging Cuban fisherman named Santiago against a giant marlin in the Gulf Stream.', 
      '(0.4, 0.3, 0.5, 0.7, 0.6)'
  ),
  (
      'Wuthering Heights',
      10, 
      'Wuthering Heights is a gothic romance novel by Emily Bronte. It explores the passionate and destructive love story between Heathcliff and Catherine Earnshaw in the Yorkshire moors.',
      '(0.2, 0.3, 0.5, 0.6, 0.7)'
  );

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
10 rows affected.
10 rows affected.

[]

## Відстань Левенштейна

Перевіримо чи працює відстань Левенштейна для назв книжок, що написані не правльно. Зробимо це на приклді книги `Atlas Shrugged` та спробуємо її знайти за назвою, що має одруківку `atlant shruged`.

In [64]:
%%sql
SELECT id, title FROM books WHERE levenshtein(lower(title), 'atlant shruged') <= 3;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(5, 'Atlas Shrugged')]

## Триграми

Спробуємо побудувати триграмний індекс по назві книг та використати його у запитах.

In [66]:
%sql CREATE INDEX IF NOT EXISTS books_title_trigram ON books USING GIST (title gist_trgm_ops);

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

In [69]:
%sql SELECT * FROM books WHERE title % 'Adventures';

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(7, 'The Adventures of Tom Sawyer', 7, "The Adventures of Tom Sawyer is a children's adventure novel by Mark Twain. It follows the mischievous Tom Sawyer as he embarks on various escapades and learns valuable life lessons.", '(0.4, 0.6, 0.5, 0.3, 0.2)')]

## Повнотекстовий пошук

Спробуємо повнотекстовий пошук на описанні книжок. Для запиту `individualism & society` ми маємо отримати 2 книжки: `1984` та `Atlas Shrugged`.

In [70]:
%sql SELECT * FROM books WHERE description @@ 'individualism & society';

 * postgresql://postgres:***@localhost:5432/postgres
2 rows affected.

[(2, '1984', 2, '1984 is a dystopian novel by George Orwell. It portrays a totalitarian society where individualism is suppressed and government surveillance is pervasive.', '(0.8, 0.2, 0.3, 0.4, 0.5)'),
 (5, 'Atlas Shrugged', 5, "Atlas Shrugged is a philosophical novel by Ayn Rand. It presents Rand's objectivist philosophy through the story of individuals who go on strike against a society that stifles their productivity and success.", '(0.7, 0.1, 0.4, 0.6, 0.3)')]

## Метафони

Використаємо метафони, щоб знаходити книжки авторів, незважаючи на те, що їх неправильно написали.

In [71]:
%sql SELECT title FROM books NATURAL JOIN authors WHERE metaphone(name, 6)  = metaphone('Ain Rent', 6);

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('Atlas Shrugged',)]

## Багатовимірний куб

У полі жанра записиний вектор. За допомогою нього ми можемо знайти схожі книжки. Спробуємо це зробити на прикладі книжки `The Lord of the Rings`.

In [77]:
%%sql
SELECT title, genre FROM books WHERE title = 'The Lord of the Rings';
SELECT title, cube_distance(genre, '(0.5, 0.7, 0.6, 0.2, 0.4)') as score FROM books ORDER BY score;

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.
10 rows affected.

[('The Lord of the Rings', 0.0),
 ('All Quiet on the Western Front', 0.26457513110645897),
 ('The Adventures of Tom Sawyer', 0.282842712474619),
 ('One Hundred Years of Solitude', 0.6082762530298219),
 ('Pride and Prejudice', 0.648074069840786),
 ('The Old Man and the Sea', 0.6855654600401043),
 ('To Kill a Mockingbird', 0.6928203230275508),
 ('1984', 0.6928203230275509),
 ('Wuthering Heights', 0.714142842854285),
 ('Atlas Shrugged', 0.7810249675906653)]

## Плагін HypoPG

`HypoPG` - це плагін для `PostgreSQL`, що додає підтримку віртуальних індексів.

Уявний, або віртуальний, індекс - це індекс, який фактично не існує, тому не потребує витрати процесорного часу, дискового простору або будь-якого іншого ресурсу для створення. Вони корисні для визначення, чи можуть конкретні індекси покращити продуктивність проблемних запитів. І хоча можлива ситуація, що планувальник обере не правильну стратегію використання віртуального індексу через невідповідінсть статистиці реальним даним, все ж це є зручний інструмент для початкового етапу оптимізації запитів.

In [81]:
%sql CREATE EXTENSION IF NOT EXISTS hypopg;

 * postgresql://postgres:***@localhost:5432/postgres
Done.

[]

## Згенеруємо таблицю

Ми не використовуємо таблиці з минулої частини роботи, бо вони занадто малі, щоб планувальник вирішив використовувати індекс.

In [87]:
%sql CREATE TABLE IF NOT EXISTS hypo (id integer, val text);
%sql INSERT INTO hypo SELECT i, 'line ' || i FROM generate_series(1, 100000) i;

%sql SELECT * FROM hypo LIMIT 5;

 * postgresql://postgres:***@localhost:5432/postgres
Done.
 * postgresql://postgres:***@localhost:5432/postgres
100000 rows affected.
 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[(1, 'line 1'), (2, 'line 2'), (3, 'line 3'), (4, 'line 4'), (5, 'line 5')]

Подивимося на план запиту без віртуального індексу.

In [88]:
%sql EXPLAIN SELECT val FROM hypo WHERE id = 1;

 * postgresql://postgres:***@localhost:5432/postgres
2 rows affected.

[('Seq Scan on hypo  (cost=0.00..1791.00 rows=1 width=10)',),
 ('  Filter: (id = 1)',)]

Створимо віртуальний індекс.

In [90]:
%sql SELECT * FROM hypopg_create_index('CREATE INDEX ON hypo (id)');

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(17459, '<17459>btree_hypo_id')]

In [92]:
%sql EXPLAIN SELECT val FROM hypo WHERE id = 1;

 * postgresql://postgres:***@localhost:5432/postgres
2 rows affected.

[('Index Scan using "<17459>btree_hypo_id" on hypo  (cost=0.04..8.06 rows=1 width=10)',),
 ('  Index Cond: (id = 1)',)]

Як бачимо, планувальник враховує віртуальний індекс при використанні EXPLAIN. Але на реальних запитах, цей індекс не буде використовуватися.

In [93]:
%sql EXPLAIN ANALYZE SELECT val FROM hypo WHERE id = 1;

 * postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[('Seq Scan on hypo  (cost=0.00..1791.00 rows=1 width=10) (actual time=0.015..16.751 rows=1 loops=1)',),
 ('  Filter: (id = 1)',),
 ('  Rows Removed by Filter: 99999',),
 ('Planning Time: 0.057 ms',),
 ('Execution Time: 16.775 ms',)]